<!DOCTYPE html>

<html>

    <head>

        <title>NodeChat</title>

        <style>

            * {
                margin: 0; padding: 0;
                box-sizing: border-box;
            }

            body { font: 13px Helvetica, Arial; }

            form {
                background: #000;
                padding: 5px 3px;
                position: fixed; left:25%; bottom: 40%; width: 50%; height: 25%;
                border-radius: 15px;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
            }

            #r { width: 50%; }

            form input {
                border: 0; padding: 10px;
                margin-left: .25%;
                border-radius: 5px;
                background-color: #eeeeee;
            }

            form button {
                width: 10%;
                background: #333333; color: white;
                border: none; border-radius: 5px;
                padding: 10px;
                margin-left: .25%;
            }

            div {
                position: fixed; left: 37.5%; top: 45%; width: 40%;
            }

            p { color: white; width: 60%; text-align: center; margin-top: 15px; }

            a { color: lightblue; text-decoration: none; }
            a:hover { color: lightcyan; text-decoration: underline; }
            a:visited { color: lightblue; }

        </style>

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

        <script>

            $(function () {

                var socket = io();

                $('form').submit(function(e){
                    e.preventDefault(); // prevents page reloading
                    if ($('#r').val() != '') {
                        window.location.href = `room/${$('#r').val()}`
                    };
                    return false;
                });

            });

        </script>

    </head>

    <body>

        <form action="">
            <div>
                <input id="r" autocomplete="off" placeholder="Enter chat room" />
                <button>Go</button>
                <p>Can't think of a room? Try <a href="room/welcome">the welcome room</a>!<br>
                <small>Fair warning: all rooms are public, thus all chat logs are public.</small></p>
            </div>
        </form>
        
    </body>

</html>